<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.minecrafttas.">
	<Appenders>
		<Console name="SysOut2" target="SYSTEM_OUT">
			<PatternLayout disableAnsi="${sys:fabric.log.disableAnsi:-true}">
					<pattern>%style{[%d{HH:mm:ss}]}{blue} %highlight{[%t/%level]}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=blue} %style{(%logger{1}%notEmpty{/%marker})}{cyan} %highlight{%msg%n}{FATAL=red, ERROR=red, WARN=normal, INFO=normal, DEBUG=normal, TRACE=normal}</pattern>
			</PatternLayout>
		</Console>
		
		<Queue name="ServerGuiConsole" ignoreExceptions="true">
			<PatternLayout disableAnsi="${sys:fabric.log.disableAnsi:-true}">
				<LoggerNamePatternSelector defaultPattern="%style{[%d{HH:mm:ss}]}{blue} %highlight{[%t/%level]}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=blue} %style{(%logger{1}%notEmpty{/%marker})}{cyan} %highlight{%msg%n}{FATAL=red, ERROR=red, WARN=normal, INFO=normal, DEBUG=normal, TRACE=normal}">
					<!-- Dont show the logger name for minecraft classes-->
					<PatternMatch key="net.minecraft.,com.mojang." pattern="[%d{HH:mm:ss} %level] %msg{nolookups}%n"/>
				</LoggerNamePatternSelector>
			</PatternLayout>
		</Queue>
	</Appenders>
	<Loggers>
		<Logger level="${sys:modid.log.level:-info}" name="Modname" additivity="false">
			<AppenderRef ref="SysOut2" level="${sys:modid.log.level:-info}"/>
			<AppenderRef ref="ServerGuiConsole" level="${sys:modid.log.level:-info}"/>
		</Logger>
	</Loggers>
</Configuration>
